<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/normalize.css') }}">		
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">	
  <title>What Logo do I want</title>
</head>

	<body>

	<div id="navigation" style="background: grey;">
		this is mostly for testing links atm
		<ul>
			<li><a href="{{ url_for('index') }}">Index</a></li>
			<li><a href="{{ url_for('process') }}">Process</a></li>
			<li><a href="{{ url_for('start') }}">Start</a></li>
		</ul>
	</div>
		{% block content %}{% endblock %}
	</body>	

</html>
